* {
	background-image: none;
	box-shadow: none;
	transition: 0ms;
}

window {
	background-color: rgba(36, 40, 47, 0.75);
}

.horizontal {
	padding: 250px 300px;
}


button {
	font-family: "JetBrainsMono Nerd Font";
	margin: 5px;
    border-radius: 0px;
    border-color: rgba(75, 75, 75, 1);
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: rgba(36, 40, 47, 1);
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-size: 15%;
	background-position: 5px 5px
}

button:focus, button:active, button:hover {
	background-color: rgba(47, 51, 58, 1);
	outline-style: none;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
